.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px;

  .logo {
    cursor: pointer;
    font-size: 40px;
    text-decoration: none;
    color: #3C3A36;
    font-weight: 700;
  }

  .navbar__panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
  }

  .navbar__item {
    cursor: pointer;
    color: #3C3A36;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    padding: 12px;
    transition: 0.3s;
  }

  .navbar__item:hover {
    background: #EDE3DA;
  }

  .active {
    background: #E2CEBC;
  }

  .navbar__login {
    cursor: pointer;
    border-radius: 4px;
    padding: 12px;
    transition: 0.3s;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
  }

  .navbar__signup {
    cursor: pointer;
    border-radius: 4px;
    background: #E2CEBC;
    padding: 12px;
    transition: 0.3s;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
  }

  .navbar__login:hover {
    background: #EDE3DA;
  }

  .navbar__signup:hover {
    background: #EDE3DA;
  }




}